$navbar-height: 5rem;
$navbar-item-img-max-height: 4rem;
@import 'bulma';
@import 'simpleLightbox';

.wrapper {
  min-height: calc(100vh - 5rem);
}

.footer {
  padding: 1.5rem;
}

.logo {
  font-family: 'Cormorant SC', serif;
}

.gallery {
  .image {
    margin-bottom: 10px;
  }
}
