<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Panel</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="<%= admin_page_path(@conn, :index) %>">Pages</a>
          </div>
        </div>
      </nav>
      <section class="section">
        <%= render @view_module, @view_template, assigns %>
      </section>
    </div>
    <footer class="footer">
      <div class="has-text-centered">
        <p>
          <strong>Footer</strong> and copyrights
        </p>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
