<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title(@conn) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="<%= static_path(@conn, "/images/logo.png") %>" />
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item is-size-3">
              Title title title
            </div>
            <div class="navbar-item is-size-4">
              Title title title
            </div>
          </div>
        </div>
      </nav>
      <section class="section">
        <div class="columns">
          <div class="column is-one-quarter">
            <aside class="menu">
              <ul class="menu-list">
                <li><a>One</a></li>
                <li><a>Two</a></li>
                <li><a>Three</a></li>
              </ul>
            </aside>
          </div>
          <div class="column">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="has-text-centered">
        <p>
          <strong>Footer</strong> and copyrights
        </p>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
