<!DOCTYPE html>
<html lang="en">
  <head>
    <%= if has_tracking_id?() do %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= tracking_id() %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= tracking_id() %>');
      </script>
    <% end %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title(@conn) %></title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC:600" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img
              src="<%= static_path(@conn, "/images/logo.png") %>"
              alt="<%= gettext("Ivanovo Club of Romance Music «By the Candlelight»") %>"
            />
          </a>
          <a class="navbar-item logo is-size-3" href="/"><%= gettext("By the Candlelight") %></a>

          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a class="navbar-item" href="/news"><%= gettext("News") %></a>
            <a class="navbar-item" href="/club"><%= gettext("Club") %></a>
            <a class="navbar-item" href="/articles"><%= gettext("Articles") %></a>
            <a class="navbar-item" href="/participants"><%= gettext("Participants") %></a>
            <a class="navbar-item" href="/concerts"><%= gettext("Concerts") %></a>
            <a class="navbar-item" href="/contact"><%= gettext("Contact") %></a>
            <a class="navbar-item" href="/photo"><%= gettext("Photo") %></a>
            <a class="navbar-item" href="/media"><%= gettext("Media") %></a>
          </div>
        </div>
      </nav>
      <section class="section">
        <div class="container">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="has-text-centered">
        <p>
          © <%= copyright_timestamp() %> <%= gettext("Ivanovo Club of Romance Music «By the Candlelight»") %>
        </p>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
