<h2><%= @media_object.title %></h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @media_object.descriptor %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>