<h1 class="title"><%= @gallery.title %></h1>

<div class="grid">
  <%= for image <- @images do %>
    <a href="<%= original_url(image) %>" class="grid-item">
      <img src="<%= thumb_url(image) %>" />
    </a>
  <% end %>  
</div>
