<h1 class="title"><%= @gallery.title %></h1>

<div class="grid">
  <%= for image <- @images do %>
    <a href="<%= upload_url(image, :original) %>" class="grid-item">
      <img src="<%= upload_url(image, :thumb) %>" />
    </a>
  <% end %>  
</div>
